In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("1_in.csv")
df

       id  time  fine
0       1   911  6639
1       2   529  7244
2       3   117  5509
3       4   270  6801
4       5   366  1237
5       6   782  9875
6       7   646  8916
7       8   859  4924
8       9    58  5810
9      10   499  3034
10     11   645  4605
11     12    35  9729
12     13   727  5361
13     14   556   651
14     15    12  7549
15     16   187  8419
16     17    15  8922
17     18   782   716
18     19   516  8131
19     20   719    51
20     21   925  2233
21     22   148  6500
22     23   775  3923
23     24   732  6358
24     25   391  1185
25     26   789  9582
26     27   310  5036
27     28   396  5175
28     29   178  4388
29     30   936   303
..    ...   ...   ...
970   971   239  2609
971   972   441  7464
972   973   515  1203
973   974    56  6051
974   975   704  6645
975   976   703  3018
976   977   469  9359
977   978   929  7952
978   979    70  3649
979   980   600  5332
980   981   510   301
981   982   949  9846
982   983    29  3934
983   984   125  9134
984   985   267  8168
985   986   776   559
986   987   374  6505
987   988    59  9217
988   989   267  6888
989   990   884  8115
990   991   132  2322
991   992   680  3586
992   993   890   952
993   994   952  1608
994   995   291  5959
995   996   260  2903
996   997   749  6152
997   998   437  9208
998   999   693  9129
999  1000   296  2562

[1000 rows x 3 columns]